---
- name: allow windows feature updates
  win_regedit:
    path: HKLM:\SOFTWARE\Policies\Microsoft\Windows\WindowsUpdate
    name: ProductVersion
    data: Windows 11
    type: string

- name: specify target release version
  win_regedit:
    path: HKLM:\SOFTWARE\Policies\Microsoft\Windows\WindowsUpdate
    name: TargetReleaseVersion
    data: 1
    type: dword

- name: specify target release version info
  win_regedit:
    path: HKLM:\SOFTWARE\Policies\Microsoft\Windows\WindowsUpdate
    name: TargetReleaseVersionInfo
    data: '{{ desired_w11_hotfix_version }}'
    type: string

- name: install upgrades and updates
  win_updates:
    category_names: ["*"]
    reboot: true
  register: upgrade_and_updates
  until: not upgrade_and_updates.changed