---
- name: install upgrades and updates
  win_updates:
    category_names: ["*"]
    reboot: true
  register: install_upgrades_and_updates
  until: not install_upgrades_and_updates.changed
  delay: 30