---
#confirmed
- name: remove users
  win_user:
    name: "{{ item }}"
    state: absent
  loop: "{{ users_to_remove }}"

#confirmed
- name: remove users profiles
  win_file:
    path: C:\Users\{{ item }}
    state: absent
  loop: "{{ users_to_remove }}"

#confirmed
- name: uninstall onedrive
  win_shell: cmd /c "{{ item }} /uninstall"
  loop:
    - C:\Windows\System32\OneDriveSetup.exe #32
    - C:\Windows\SysWOW64\OneDriveSetup.exe #64
  ignore_errors: true

#confirmed
- name: uninstall bloatware
  win_shell: |
    Get-AppxPackage *{{ item }}* | Remove-AppxPackage
  loop:
    - "Clipchamp.Clipchamp"
    - "Microsoft.BingNews"
    - "Microsoft.BingSearch"
    - "Microsoft.BingWeather"
    - "Microsoft.Copilot"
    - "Microsoft.Edge.GameAssist"
    - "Microsoft.GamingApp"
    - "Microsoft.GetHelp"
    - "Microsoft.MicrosoftSolitaireCollection"
    - "Microsoft.MicrosoftStickyNotes"
    - "Microsoft.OutlookForWindows"
    - "Microsoft.PowerAutomateDesktop"
    - "Microsoft.StickyNotes"
    - "Microsoft.Todos"
    - "Microsoft.WidgetsPlatformRuntime"
    - "Microsoft.WindowsCamera"
    - "Microsoft.WindowsFeedbackHub"
    - "Microsoft.WindowsSoundRecorder"
    - "Microsoft.Xbox.TCUI"
    - "Microsoft.XboxGamingOverlay"
    - "Microsoft.XboxIdentityProvider"
    - "Microsoft.XboxSpeechToTextOverlay"
    - "Microsoft.YourPhone"
    - "Microsoft.ZuneMusic"
    - "MicrosoftWindows.CrossDevice"
    - "MSTeams"
    - "QuickAssist"

#confirmed
- name: uninstall bloatware
  win_shell: |
    dism /Online /Disable-Feature /FeatureName:{{ item }} /NoRestart
  loop:
    - WindowsMediaPlayer
    - Microsoft-RemoteDesktopConnection

#confirmed
- name: read HKCU run
  ansible.windows.win_reg_stat:
    path: HKCU:\Software\Microsoft\Windows\CurrentVersion\Run
  register: runkey

#confirmed
- name: remove edge from HKCU run
  ansible.windows.win_regedit:
    path: HKCU:\Software\Microsoft\Windows\CurrentVersion\Run
    name: "{{ item }}"
    state: absent
  loop: "{{ runkey.properties | select('match', '^MicrosoftEdge') | list }}"