---
#confirmed
- name: uninstall bloatware
  win_shell: |
    Get-AppxPackage *{{ item }}* -AllUsers | Remove-AppxPackage -AllUsers
  loop:
    - "Clipchamp.Clipchamp"
    - "Microsoft.BingNews"
    - "Microsoft.BingSearch"
    - "Microsoft.BingWeather"
    - "Microsoft.Copilot"
    - "Microsoft.GetHelp"
    - "Microsoft.MicrosoftStickyNotes"
    - "Microsoft.OutlookForWindows"
    - "Microsoft.StickyNotes"
    - "Microsoft.Todos"
    - "Microsoft.WindowsCamera"
    - "Microsoft.WindowsFeedbackHub"
    - "Microsoft.YourPhone"
    - "Microsoft.ZuneMusic"
    - "MicrosoftCorportationII.MicrosoftFamily"
    - "MicrosoftCorportationII.QuickAssist"
    - "MSTeams"

#confirmed
- name: uninstall bloatware
  win_shell: |
    Get-AppxProvisionedPackage -Online | Where-Object DisplayName -EQ "{{ item }}" | Remove-ProvisionedAppPackage -Online
  loop:
    - "Microsoft.GamingApp"
    - "Microsoft.MicrosoftSolitaireCollection"
    - "MicrosoftCorportationII.MicrosoftFamily"
    - "MicrosoftCorportationII.QuickAssist"

#confirmed
- name: uninstall bloatware
  win_shell: |
    dism /Online /Disable-Feature /FeatureName:{{ item }} /NoRestart
  loop:
    - WindowsMediaPlayer
    - Microsoft-RemoteDesktopConnection

#confirmed
- name: uninstall onedrive
  win_shell: cmd /c "{{ item }} /uninstall"
  loop:
    - C:\Windows\System32\OneDriveSetup.exe #32
    - C:\Windows\SysWOW64\OneDriveSetup.exe #64
  ignore_errors: true