---
#confirmed
- name: uninstall bloatware
  win_shell: |
    Get-AppxPackage *{{ item }}* -AllUsers | Remove-AppxPackage -AllUsers
  loop:
    - "Clipchamp.Clipchamp"
    - "Microsoft.BingNews"
    - "Microsoft.BingSearch"
    - "Microsoft.BingWeather"
    - "Microsoft.Copilot"
    - "Microsoft.Edge.GameAssist"
    - "Microsoft.GamingApp"
    - "Microsoft.GetHelp"
    - "Microsoft.MicrosoftSolitaireCollection"
    - "Microsoft.MicrosoftStickyNotes"
    - "Microsoft.OutlookForWindows"
    - "Microsoft.PowerAutomateDesktop"
    - "Microsoft.StickyNotes"
    - "Microsoft.Todos"
    - "Microsoft.WidgetsPlatformRuntime"
    # - "Microsoft.Windows.ParentalControls"
    - "Microsoft.WindowsCamera"
    - "Microsoft.WindowsFeedbackHub"
    - "Microsoft.Xbox.TCUI"
    - "Microsoft.XboxGamingOverlay"
    - "Microsoft.XboxIdentityProvider"
    - "Microsoft.XboxSpeechToTextOverlay"
    - "Microsoft.YourPhone"
    - "Microsoft.ZuneMusic"
    # - "MicrosoftCorportationII.MicrosoftFamily"
    # - "MicrosoftCorportationII.QuickAssist"
    - "MicrosoftWindows.CrossDevice"
    - "MSTeams"
  become: true
  become_method: runas
  become_user: "{{ ansible_user }}"

#confirmed
- name: uninstall bloatware
  win_shell: |
    dism /Online /Disable-Feature /FeatureName:{{ item }} /NoRestart
  loop:
    - WindowsMediaPlayer
    - Microsoft-RemoteDesktopConnection
  become: true
  become_method: runas
  become_user: "{{ ansible_user }}"

#confirmed
- name: uninstall onedrive
  win_shell: cmd /c "{{ item }} /uninstall"
  loop:
    - C:\Windows\System32\OneDriveSetup.exe #32
    - C:\Windows\SysWOW64\OneDriveSetup.exe #64
  ignore_errors: true