---
- name: install nvidia display driver
  win_chocolatey:
    name: nvidia-display-driver
    state: latest
    params:
      '/NoAudio /NoUSBC'
  register: install_nvidia_display_driver
  until: install_nvidia_display_driver.rc == 0
  delay: 60

- name: install wsl2
  win_chocolatey:
    name: wsl2
    state: latest
  register: install_wsl2 

- name: reboot
  win_reboot:
  when: install_nvidia_display_driver.changed or install_wsl2.changed

- name: install software
  win_chocolatey:
    name: "{{ item }}"
    state: latest
  loop: "{{ software_to_install }}"

- name: configure firefox
  block:

  - name: ensure distribution folder exists
    win_file:
      path: C:\Program Files\Mozilla Firefox\distribution
      state: directory

  - name: deploy policies.json
    win_copy:
      src: policies.json
      dest: "C:\\Program Files\\Mozilla Firefox\\distribution\\policies.json"
      force: yes

- name: install vscode extensions
  win_command: >
    "C:\Program Files\Microsoft VS Code\bin\code.cmd" --install-extension {{ item }} --force
  loop: "{{ vcsode_extensions_to_install }}"