---
- name: ensure chocolatey is installed
  win_chocolatey:
    name:
      - chocolatey
    state: present

- name: install geforce-game-ready-driver
  win_chocolatey:
    name: nvidia-display-driver
    state: present
    params:
      '/NoAudio /NoUSBC'

- name: install wsl2
  win_chocolatey:
    name: wsl2
    state: present
  register: wsl2_result 

- name: reboot
  win_reboot:
  when: wsl2_result.changed

- name: install ubuntu wsl
  win_chocolatey:
    name: wsl-ubuntu-2004
    state: present

- name: install firefox
  block:

  - name: install firefox
    win_chocolatey:
      name: firefox
      state: present
      params:
        '/NoDesktopShortcut'

  - name: ensure distribution folder exists
    win_file:
      path: C:\Program Files\Mozilla Firefox\distribution
      state: directory

  - name: deploy policies.json
    win_copy:
      src: policies.json
      dest: "C:\\Program Files\\Mozilla Firefox\\distribution\\policies.json"
      force: yes

- name: install software
  win_chocolatey:
    name: "{{ item }}"
    state: upgrade
  loop: "{{ software_to_install }}"

- name: install software (pinned)
  win_chocolatey:
    name: "{{ item.key }}"
    version: "{{ item.value }}"
    state: present
  loop: "{{ software_to_install_pinned | dict2items }}"