---
- name: install software
  win_chocolatey:
    name: "{{ software_to_install }}"
    state: latest
  register: install_software
  until: install_software.rc == 0
  delay: 60

- name: configure firefox
  block:

  - name: ensure distribution folder exists
    win_file:
      path: C:\Program Files\Mozilla Firefox\distribution
      state: directory

  - name: deploy policies.json
    win_copy:
      src: policies.json
      dest: "C:\\Program Files\\Mozilla Firefox\\distribution\\policies.json"
      force: yes

- name: install vscode extensions
  win_command: >
    "C:\Program Files\Microsoft VS Code\bin\code.cmd" --install-extension {{ item }} --force
  loop: "{{ vcsode_extensions_to_install }}"