---
- name: install geforce-game-ready-driver
  win_chocolatey:
    name: nvidia-display-driver
    state: latest
    params:
      '/NoAudio /NoUSBC'
  register: reboot_required

- name: install wsl2
  win_chocolatey:
    name: wsl2
    state: latest
  register: reboot_required 

- name: reboot
  win_reboot:
  when: reboot_required.changed

- name: install software
  win_chocolatey:
    name: "{{ item }}"
    state: latest
  loop: "{{ software_to_install }}"

- name: install software (pinned)
  win_chocolatey:
    name: "{{ item.key }}"
    version: "{{ item.value }}"
    state: present
  loop: "{{ software_to_install_pinned | dict2items }}"

- name: configure firefox
  block:

  - name: ensure distribution folder exists
    win_file:
      path: C:\Program Files\Mozilla Firefox\distribution
      state: directory

  - name: deploy policies.json
    win_copy:
      src: policies.json
      dest: "C:\\Program Files\\Mozilla Firefox\\distribution\\policies.json"
      force: yes