---
- name: install nvidia display driver
  win_chocolatey:
    name: nvidia-display-driver
    state: latest
    params:
      '/NoAudio /NoUSBC'
  register: reboot_required

# - name: install nvidia app
#   win_chocolatey:
#     name: nvidia-app
#     state: latest

- name: remove nvidia app
  win_chocolatey:
    name: nvidia-app
    state: absent

- name: install wsl2
  win_chocolatey:
    name: wsl2
    state: latest
  register: reboot_required 

- name: reboot
  win_reboot:
  when: reboot_required.changed

- name: install software
  win_chocolatey:
    name: "{{ item }}"
    state: latest
  loop: "{{ software_to_install }}"

- name: install software (pinned)
  win_chocolatey:
    name: "{{ item.key }}"
    version: "{{ item.value }}"
    state: present
  loop: "{{ software_to_install_pinned | dict2items }}"

- name: configure firefox
  block:

  - name: ensure distribution folder exists
    win_file:
      path: C:\Program Files\Mozilla Firefox\distribution
      state: directory

  - name: deploy policies.json
    win_copy:
      src: policies.json
      dest: "C:\\Program Files\\Mozilla Firefox\\distribution\\policies.json"
      force: yes

- name: uninstall vscode extensions
  win_command: >
    "C:\Program Files\Microsoft VS Code\bin\code.cmd" --uninstall-extension {{ item }} --force
  loop: "{{ vcsode_extensions_to_remove }}"
  ignore_errors: true

- name: install vscode extensions
  win_command: >
    "C:\Program Files\Microsoft VS Code\bin\code.cmd" --install-extension {{ item }} --force
  loop: "{{ vcsode_extensions_to_install }}"