---
#confirmed
- name: dark theme for system
  win_regedit:
    path: "HKCU:\\Software\\Microsoft\\Windows\\CurrentVersion\\Themes\\Personalize"
    name: "SystemUsesLightTheme"
    data: 0
    type: dword

#confirmed
- name: dark theme for apps
  win_regedit:
    path: "HKCU:\\Software\\Microsoft\\Windows\\CurrentVersion\\Themes\\Personalize"
    name: "AppsUseLightTheme"
    data: 0
    type: dword

#confirmed
- name: disable wallpaper
  win_regedit:
    path: HKCU:\Control Panel\Desktop
    name: Wallpaper
    data: ""
    type: string
    state: present

#confirmed
- name: disable wallpaper style
  win_regedit:
    path: HKCU:\Control Panel\Desktop
    name: WallpaperStyle
    data: "0"
    type: string
    state: present

#confirmed
- name: black desktop background
  win_regedit:
    path: HKCU:\Control Panel\Colors
    name: Background
    data: "0 0 0"
    type: string
    state: present

#confirmed
- name: delete desktop items
  win_shell: |
    Remove-Item -Path "{{ item }}" -Force -Recurse
  loop:
    - C:\Users\Public\Desktop\*
    - $HOME\Desktop\*

#confirmed
- name: hide recycle bin from desktop
  win_regedit:
    path: HKCU:\Software\Microsoft\Windows\CurrentVersion\Explorer\HideDesktopIcons\NewStartPanel
    name: "{645FF040-5081-101B-9F08-00AA002F954E}"
    data: 1
    type: dword
    state: present

#confirmed
- name: autohide start menu
  win_regedit:
    path: HKCU:\Software\Microsoft\Windows\CurrentVersion\Explorer\StuckRects3
    name: Settings
    type: binary
    data: "30000000FEFFFFFF030000000300000030000000300000000000000070050000000A0000A00500006000000001000000" #new acct

# med 30000000FEFFFFFF030000000300000030000000300000000000000070050000000A0000A00500006000000000000000
# new 30000000FEFFFFFF020000000300000030000000300000000000000070050000000A0000A00500006000000001000000
# pro 30000000FEFFFFFF030000000300000030000000300000000000000070050000000A0000A00500006000000001000000

#confirmed
- name: disable start menu search box
  win_regedit:
    path: HKCU:\Software\Microsoft\Windows\CurrentVersion\Search
    name: SearchboxTaskbarMode
    type: dword
    data: 0

#confirmed
- name: disable windows search service
  win_service:
    name: WSearch
    state: stopped
    start_mode: disabled

#confirmed
- name: disable search highlights
  ansible.windows.win_regedit:
    path: HKCU:\Software\Microsoft\Windows\CurrentVersion\Search
    name: BingSearchEnabled
    data: 0
    type: dword

#confirmed
- name: disable search history
  ansible.windows.win_regedit:
    path: HKCU:\Software\Microsoft\Windows\CurrentVersion\SearchSettings
    name: IsDeviceSearchHistoryEnabled
    data: 0
    type: dword

#confirmed
- name: disable microsoft account search
  ansible.windows.win_regedit:
    path: HKCU:\Software\Microsoft\Windows\CurrentVersion\SearchSettings
    name: IsMSACloudSearchEnabled
    data: 0
    type: dword

#confirmed
- name: disable work or school account search
  ansible.windows.win_regedit:
    path: HKCU:\Software\Microsoft\Windows\CurrentVersion\SearchSettings
    name: IsAADCloudSearchEnabled
    data: 0
    type: dword

- name: disable diagtrack
  win_service:
    name: DiagTrack
    state: stopped
    start_mode: disabled

#confirmed
- name: turn off windows copilot
  win_regedit:
    path: HKLM:\SOFTWARE\Policies\Microsoft\Windows\Windows Copilot
    name: TurnOffWindowsCopilot
    data: 1
    datatype: dword
    state: present

#confirmed
- name: deny location
  win_regedit:
    path: HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\CapabilityAccessManager\ConsentStore\location
    name: Value
    data: Deny
    datatype: string

#confirmed
- name: disable location
  win_regedit:
    path: HKLM:\SOFTWARE\Policies\Microsoft\Windows\LocationAndSensors
    name: DisableLocation
    type: dword
    data: 1
    state: present

#confirmed
- name: disable geolocation service
  win_service:
    name: lfsvc
    state: stopped
    start_mode: disabled

#confirmed
- name: disable windows health and optimized experiences service
  win_service:
    name: whesvc
    state: stopped
    start_mode: disabled

#confirmed
- name: disable msedge services
  win_service:
    name: "{{ item }}"
    state: stopped
    start_mode: disabled
  loop:
    - edgeupdate
    - edgeupdatem
    - MicrosoftEdgeElevationService

#confirmed
- name: disable snap windows
  win_regedit:
    path: HKCU:\Control Panel\Desktop
    name: WindowArrangementActive
    data: "0"
    type: string

#confirmed
- name: disable widgets
  win_regedit:
    path: HKLM:\Software\Policies\Microsoft\Dsh
    name: AllowNewsAndInterests
    data: 0
    type: dword

#confirmed
- name: copy terminate_spyware.ps1
  win_copy:
    src: files/terminate_spyware.ps1
    dest: 'C:\Windows\terminate_spyware.ps1'

#confirmed
- name: schedule terminate_spyware.ps1
  win_scheduled_task:
    name: "terminate_spyware.ps1"
    description: "runs terminate_spyware.ps1 at every system startup"
    actions:
      - path: powershell.exe
        arguments: "-NoProfile -WindowStyle Hidden -ExecutionPolicy Bypass -File C:\\Windows\\terminate_spyware.ps1"
    triggers:
      - type: boot
    username: "SYSTEM"
    run_level: highest
    logon_type: service_account
    state: present
    enabled: yes

#confirmed
- name: remove users
  win_user:
    name: "{{ item }}"
    state: absent
  # become: true
  # become_method: runas
  # become_user: "{{ ansible_user }}"
  loop: "{{ users_to_remove }}"

#confirmed
- name: remove users profiles
  win_file:
    path: C:\Users\{{ item }}
    state: absent
  # become: true
  # become_method: runas
  # become_user: "{{ ansible_user }}"
  loop: "{{ users_to_remove }}"