---
- name: set windows system ui to dark mode
  win_regedit:
    path: "HKCU:\\Software\\Microsoft\\Windows\\CurrentVersion\\Themes\\Personalize"
    name: "SystemUsesLightTheme"
    data: 0
    type: dword

- name: set windows apps to dark mode
  win_regedit:
    path: "HKCU:\\Software\\Microsoft\\Windows\\CurrentVersion\\Themes\\Personalize"
    name: "AppsUseLightTheme"
    data: 0
    type: dword

- name: set allow telemetry to 0 (policy)
  win_regedit:
    path: HKLM:\SOFTWARE\Policies\Microsoft\Windows\DataCollection
    name: AllowTelemetry
    type: dword
    data: 0
    state: present

- name: set allow telemetry to 0 (current version path)
  win_regedit:
    path: HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\DataCollection
    name: AllowTelemetry
    type: dword
    data: 0
    state: present

- name: disable feedback notifications
  win_regedit:
    path: HKLM:\SOFTWARE\Policies\Microsoft\Windows\DataCollection
    name: DoNotShowFeedbackNotifications
    type: dword
    data: 1
    state: present

- name: disable DiagTrack
  win_service:
    name: DiagTrack
    state: stopped
    start_mode: disabled

- name: disable dmwappushservice
  win_service:
    name: dmwappushservice
    state: stopped
    start_mode: disabled

# - name: disable consumer features
#   win_regedit:
#     path: HKLM:\SOFTWARE\Policies\Microsoft\Windows\CloudContent
#     name: DisableConsumerFeatures
#     type: dword
#     data: 1

- name: disable windows consumer features
  win_regedit:
    path: HKLM:\SOFTWARE\Policies\Microsoft\Windows\CloudContent
    name: DisableWindowsConsumerFeatures
    type: dword
    data: 1

- name: turn off windows copilot
  win_regedit:
    path: HKLM:\SOFTWARE\Policies\Microsoft\Windows\Windows Copilot
    name: TurnOffWindowsCopilot
    data: 1
    datatype: dword
    state: present

- name: deny cortana
  win_regedit:
    path: HKLM:\SOFTWARE\Policies\Microsoft\Windows\Windows Search
    name: AllowCortana
    data: 0
    datatype: dword
    state: present

- name: turn off location services
  win_regedit:
    path: HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\CapabilityAccessManager\ConsentStore\location
    name: Value
    data: Deny
    datatype: string

- name: disable location services
  win_regedit:
    path: HKLM:\SOFTWARE\Policies\Microsoft\Windows\LocationAndSensors
    name: DisableLocation
    type: dword
    data: 1
    state: present

- name: hide all desktop icons
  win_regedit:
    path: HKCU:\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\Advanced
    name: HideIcons
    data: 1
    datatype: dword
    state: present

# - name: schedule task - kill unwanted processes loop
#   community.windows.win_scheduled_task:
#     name: KillUnwantedProcessesLoop
#     actions:
#       - path: powershell.exe
#         arguments: -NoProfile -WindowStyle Hidden -Command "while ($true) { 'msedge','searchhost','gameassist','gamebar' | ForEach-Object { Get-Process -Name $_ -ErrorAction SilentlyContinue | Stop-Process -Force }; Start-Sleep -Seconds 1 }"
#     triggers:
#       - type: boot
#     username: SYSTEM
#     run_level: highest
#     state: present
#     enabled: yes
