---
- name: Test connectivity
  win_ping:

- name: Ensure Chocolatey is installed
  chocolatey.chocolatey.win_chocolatey:
    name:
      - chocolatey
      # - git
    state: present

- name: Scheduled Task to Kill Unwanted Processes Loop
  community.windows.win_scheduled_task:
    name: KillUnwantedProcessesLoop
    # description: Kill msedge/searchhost/gameassist/gamebar
    actions:
      - path: powershell.exe
        arguments: >
          -NoProfile -WindowStyle Hidden -Command
          "while ($true) { 'msedge','searchhost','gameassist','gamebar' | % { Get-Process -Name $_ -ErrorAction SilentlyContinue | Stop-Process -Force }; Start-Sleep 1 }"
    triggers:
      - type: boot
    username: SYSTEM
    run_level: highest
    state: present
    enabled: yes

# - name: Install Unity Hub
#   win_chocolatey:
#     name: unity-hub
#     state: present

# - name: Install VSCode
#   win_chocolatey:
#     name:
#       - vscode
#     state: present
  
# - name: Install Visual Studio Community 2022
#   win_chocolatey:
#     name: visualstudio2022community
#     # package_params: >
#     #   --add Microsoft.VisualStudio.Workload.ManagedGame
#     #   --add Microsoft.VisualStudio.Workload.NativeGame
#     #   --add Microsoft.VisualStudio.Workload.NetWeb
#     state: present