---
- name: test connectivity
  win_ping:

- name: install windows updates
  ansible.windows.win_updates:
    reboot: true

- name: set windows system ui to dark mode
  win_regedit:
    path: "HKCU:\\Software\\Microsoft\\Windows\\CurrentVersion\\Themes\\Personalize"
    name: "SystemUsesLightTheme"
    data: 0
    type: dword

- name: set windows apps to dark mode
  win_regedit:
    path: "HKCU:\\Software\\Microsoft\\Windows\\CurrentVersion\\Themes\\Personalize"
    name: "AppsUseLightTheme"
    data: 0
    type: dword

- name: schedule task - kill unwanted processes loop
  community.windows.win_scheduled_task:
    name: KillUnwantedProcessesLoop
    actions:
      - path: powershell.exe
        arguments: >
          -NoProfile -WindowStyle Hidden -Command
          "while ($true) { 'msedge','searchhost','gameassist','gamebar' | % { Get-Process -Name $_ -ErrorAction SilentlyContinue | Stop-Process -Force }; Start-Sleep 1 }"
    triggers:
      - type: boot
    username: SYSTEM
    run_level: highest
    state: present
    enabled: yes

- name: ensure chocolatey is installed
  chocolatey.chocolatey.win_chocolatey:
    name:
      - chocolatey
    state: present

- name: install geforce-game-ready-driver
  win_chocolatey:
    name: nvidia-display-driver
    version: 581.80.0
    state: present
    # force: true
    params:
      '/NVApp /NoAudio /NoUSBC'
      # '/NoAudio /NoUSBC'

- name: install firefox
  block:

  - name: install firefox
    win_chocolatey:
      name: firefox
      state: present
      params:
        '/NoDesktopShortcut'

  - name: ensure firefox distribution folder exists
    win_file:
      path: "C:\\Program Files\\Mozilla Firefox\\distribution"
      state: directory

  - name: deploy policies.json
    win_copy:
      content: |
        {
          "policies": {
            "SearchEngines": {
              "Default": "DuckDuckGo"
            },
            "Bookmarks": [
              {
                "Title": "Grok",
                "URL": "https://grok.com"
              },
              {
                "Title": "ChatGPT",
                "URL": "https://chat.openai.com"
              }
            ],
            "Extensions": {
              "Install": [
                "https://addons.mozilla.org/firefox/downloads/latest/ublock-origin/latest.xpi"
              ],
              "Locked": ["ublock-origin@raymondhill.net"]
            },
            "ExtensionSettings": {
              "ublock-origin@raymondhill.net": {
                "install_sources": ["https://addons.mozilla.org/"],
                "run_in_private_windows": true
              }
            }
          }
        }
      dest: "C:\\Program Files\\Mozilla Firefox\\distribution\\policies.json"
      force: yes

- name: install blender
  win_chocolatey:
    name: blender
    version: 5.0.0
    state: present

- name: install audacity
  win_chocolatey:
    name: audacity
    version: 3.7.6
    state: present

- name: install unity hub
  win_chocolatey:
    name: unity-hub
    state: present

- name: install visual studio community 2022
  win_chocolatey:
    name: visualstudio2022community
    package_params: >
      --add Microsoft.VisualStudio.Workload.ManagedGame
      --add Microsoft.VisualStudio.Workload.NativeGame
      --add Microsoft.VisualStudio.Workload.NetWeb
    state: present

- name: install wsl2
  win_chocolatey:
    name: wsl2
    state: present

- name: reboot
  win_reboot:
  when: wsl2_result.changed

- name: install ubuntu wsl
  win_chocolatey:
    name: wsl-ubuntu-2004
    state: present
